// COLORS
$color-primary: #c23c24;

$color-secondary: #00c6e9;

$color-white: #f1eff3;
$color-black: #090909;
$color-dark: #1b1b1b;
$color-darker: #0f0f0f;
$color-background: #222427;

$color-success: #32fa53;
$color-failure: #ff1940;

// FONT
$default-font-size: 1.6rem;