// COLORS
$color-primary: #00d9ff;
$color-accent: #6b7077;

$color-white: #f1eff3;
$color-black: #090909;
$color-dark: #1c1c1d;
$color-darker: #171718;
$color-background: #222427;

$color-success: #32fa53;
$color-failure: #ff1940;

// FONT
$default-font-size: 1.6rem;