@import '../variables';
@import '../mixins';

.header {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 0 4rem;
    background-color: $color-dark;
    
    border-bottom: 2px solid $color-darker;
    box-shadow: 0 .5rem .5rem $color-darker;

    transition: all .2s ease;

    @include respond(phone) {
        padding: 0 2rem;
    }

    &--alteration {
        height: 6rem;
    }

    &__logo {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: $color-white;
        text-decoration: none;
        font-size: 3rem;
        letter-spacing: 5px;
    }

    &__nav {
        display: initial;

        @include respond(phone) {
            display: none;
        }
    }
}