.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92%;
    width: auto;
    max-height: 100%;
    max-width: 100%;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */

    &__image {
        height: 100%;
        width: auto;
    }

    &--hide {
        display: none;
    }


    &--header {
        display: inline-block;

        @include respond(phone) {
            height: 70%;
        }
    }

    &--alteration {
        width: auto;
        height: 90%;

        @include respond(tab-land) {
            &>img {
                display: none;
            }
        }
    }
}