@import '../mixins';
@import '../variables';

.navigation {
    display: flex;
    flex-direction: row;
    list-style: none;

    &__item {
        &:not(:first-child) {
            margin-left: 4rem;
        }

        &-link {
            font-size: 1.7rem;
            font-weight: 400;
            padding: .5rem 0;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $color-white;
            text-decoration: none;

            transition: all .2s ease;

            &:hover,
            &:active {
                color: $color-primary;
            }

            &--active {
                color: $color-primary;
            }
        }
    }
}