.input-container {
    max-width: 85rem;
    margin: 0 auto;
    width: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
        width: 85%;
    }

    &__label {
        color: $color-white;
        font-size: 1.7rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    &__total {
        color: $color-white;
        font-size: 1.7rem;
        margin-top: 1rem;
        text-align: center;
    }

    &__highlight {
        color: $color-primary;
    }
}

.search {
    max-width: 85rem;
    margin: 0 auto;
    width: 100%;
    outline: none;

    padding: 1rem 2rem 1rem 5rem;
    background-color: $color-white;

    font-size: 1.6rem;
    // text-align: center;

    border: 2px solid $color-white;
    border-radius: 2rem;

    &:hover {
        box-shadow: 0 0 .5rem $color-white;
    }

    &:focus {
        border: 2px solid $color-primary;
        box-shadow: 0 0 .5rem $color-primary;
    }

    &-box {
        position: relative;
    }

    &-icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 2rem;

        font-size: 2rem;
        color: $color-accent;
    }
}