@import '../variables';
@import '../mixins';

.services {
    margin: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $color-white;
    font-size: 1.7rem;

    &__item {
        position: relative;
        width: 100%;
        min-height: 28rem;
        margin: 1rem;
        display: flex;
        flex-direction: row;
        background-color: $color-dark;
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: .5rem .5rem .5rem $color-darker;

        @include respond(tab-land) {
            border-radius: 0;
        }

        @include respond(phone) {
            height: auto;
            flex-direction: column;
        }

        &-image {
            display: flex;
            flex: 0 0 30%;
            z-index: 1;
            background-color: $color-darker;
            align-items: center;
            justify-content: center;
            text-align: center;

            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Old versions of Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently */

            @include respond(phone) {
                flex: 1;
            }

            & img {
                width: 100%;
                height: auto;
                max-height: 30rem;
                object-fit: contain;

                // @include respond(tab-land) {
                //     width: 100%;
                //     height: auto;
                // }

                @include respond(phone) {
                    width: 70%;
                    max-height: none;
                    height: auto;
                }
            }
        }

        &-content {
            position: relative;
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 2rem;
        }

        &-description {
            text-align: justify;
            margin-bottom: 3rem;

            @include respond(phone) {
                margin-bottom: 3rem;
            }
        }

        &-effect {
            z-index: 0;
            position: absolute;
            bottom: 0;
            right: 5%;
            color: $color-darker;
            font-size: 10rem;

            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Old versions of Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently */
        }

        &-group {
            z-index: 1;
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        &-title {
            font-size: 2.3rem;

            @include respond(phone) {
                font-size: 1.9rem;
            }
        }

        &-category {
            font-size: 2rem;

            @include respond(phone) {
                font-size: 1.7rem;
            }
        }

        &-company {
            position: absolute;
            top: 2rem;
            right: 2rem;
            font-size: 2.3rem;

            @include respond(phone) {
                font-size: 1.9rem;
            }
        }

        &-reference {
            z-index: 1;
            position: absolute;
            bottom: 2rem;
            left: 2rem;
            transition: all .2s ease;

            & a {
                color: $color-white;
                font-size: 1.7rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                text-decoration: none;
                background-color: $color-darker;
                padding: 1rem;
                border-radius: .5rem;
            }

            &:hover {
                transform: translateY(-.5rem);
            }

            &:active {
                transform: scale(.9);
            }
        }
    }

    &__not-found {
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
    }
}